target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
/.metadata/

#Ignoring result of test
/SeleniumTest/target/
/SeleniumTest/target/surefire-reports/
/SeleniumTest/target/surefire-reports/junitreports/
/SeleniumTest/target/surefire-reports/old/SIEV.test.Tests/
/SeleniumTest/target/surefire-reports/SIEV.test.Tests/
/SeleniumTest/target/test-classes/
/SeleniumTest/target/test-classes/SIEV/helpers/